p {
	background-color: white;
}
article {
	float: left;
	text-align: left;
	padding: 100px;
	width: 710px;
	height: 360px;
	background-color: white;
	border: 1px solid grey;
}
nav {
	float: left;
	width: 220px;
	height: 360px;
	background: #DDF2F0;
	padding: 100px;
}
